<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>form</title>
  </head>
  <body>
    <section>
        <div class="leaves">
            <div class="set">
              <div><img src="Images/leaf_01.png" /></div>
              <div><img src="Images/leaf_02.png" /></div>
              <div><img src="Images/leaf_03.png" /></div>
              <div><img src="Images/leaf_04.png" /></div>
              <div><img src="Images/leaf_01.png" /></div>
              <div><img src="Images/leaf_02.png" /></div>
              <div><img src="Images/leaf_03.png" /></div>
              <div><img src="Images/leaf_04.png" /></div>
            </div>
          </div>
      <img class="bg" src="Images/bg.jpg" />
      <img class="girl" src="Images/girl.png" />
      <div class="container">
        <form action="/" method="post">
          <h2>Contact Me</h2>
          <div class="inputBox">
            
            <input type="text" name="name" required>
            <label>Name</label>
            <span class="icon"><ion-icon name="contact"></ion-icon></span>
          
          </div>
          <div class="inputBox">
            <input type="email" name="email" required>
            <label >Email</label>
            <span class="icon"><ion-icon name="mail"></ion-icon></span>
          </div>
          <div class="inputBox">
            <input type="number" name="number"  required>
            <label >Number</label>
            <span class="icon"><ion-icon name="phone-portrait"></ion-icon></span>
          </div>
          <button class="btn">Submit</button>
        </form>
      </div>
      <img class="trees" src="Images/trees.png" />
    </section>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
  </body>
</html>
