<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/thanks.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="text-container">
      <h1>Wait<br /><span>for me</span></h1>
      <div class="animated-text">
        <h2>Thanks You!</h2>
        <h2>Meet You Soon</h2>
        <h2>How Are You!</h2>
 
      </div>
      <div class="animation-container">
        <div class="burst">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
